.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
}

.navbar .logo-name {
  font-size: 1.5rem;
  font-weight: bold;
  color: #147a47;
}

.nav-buttons button {
  margin-left: 15px;
  padding: 8px 16px;
  border: none;
  background: rgba(27, 145, 173, 0.79);
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s;
}

.nav-buttons button:hover {
  background: rgba(24, 93, 151, 0.9);
}
